<ng-container *ngIf="flowControlService.dataChanges$ | async as state">
  <div class="card" [@shakeit]="shakeIt">
    <header class="card-header">
      <div class="d-flex">
        <div>
          <button
            class="btn btn-link"
            *ngIf="!state.isFirst"
            [disabled]="currentStep?.component?.disableGoBack && currentStep?.component?.disableGoBack()"
            (click)="onPrev()">
            Prev
          </button>
        </div>

        <div class="flex-grow-1">
          <div *ngIf="currentStep?.titleDirective; else fallbackHeader">
            <ng-container *ngTemplateOutlet="currentStep.titleDirective.templateRef"></ng-container>
          </div>
          <ng-template #fallbackHeader>
            <div class="text-center py-2">
              {{ state.current }} of {{ state.total }}
            </div>
          </ng-template>
        </div>

        <div>
          <button
            class="btn btn-link"
            *ngIf="!state.isLast"
            (click)="onNext()"
            [disabled]="currentStep?.component?.disableNext && currentStep?.component?.disableNext()">Next</button>
          <button
            class="btn btn-success"
            *ngIf="state.isLast"
            (click)="onDone()"
            [disabled]="currentStep?.component?.disableNext && currentStep?.component?.disableNext()">Done</button>
        </div>
      </div>
    </header>

    <main class="card-body">
      <div *ngTemplateOutlet="currentStep?.templateRef;"></div>
    </main>

    <footer class="card-footer">
      <div class="text-right">
        <button class="btn btn-danger btn-sm" (click)="onCancel()">Cancel</button>
      </div>
    </footer>
  </div>
</ng-container>
